
.firstDeck {
    padding-top: 50px;
    padding-right:75px;
    padding-left: 75px;
}

.buttonwoodsImg {
    padding-bottom: 81px;
}

.foolproofImg {
    padding-bottom: 75px;
}

 .greysailImg {
     padding-bottom: 43px;
 }

.newportstormImg {
    margin-bottom: -40px;
}

.coddingtonImg {
    padding-bottom: 15px;
}

.revivalImg {
    padding-bottom: 25px;
}

.trinityImg {
    padding-bottom: 33px;
}

.unionstationImg {
    padding-bottom: 17px;
}

.whalersImg {
    margin-bottom: -37px;
}
       