/*body {*/
/*    background-color: #e9ecef;*/
/*}*/

#map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
}

.firstDeck {
    padding-top: 50px;
    padding-right: 225px;
    padding-left: 225px;
}

.buttonwoodsImg {
    padding-bottom: 81px;
}

.foolproofImg {
    padding-bottom: 75px;
}

 .greysailImg {
     padding-bottom: 43px;
 }

.newportstormImg {
    margin-bottom: -40px;
}

.coddingtonImg {
    padding-bottom: 15px;
}

.revivalImg {
    padding-bottom: 25px;
}

.trinityImg {
    padding-bottom: 33px;
}

.unionstationImg {
    padding-bottom: 17px;
}

.whalersImg {
    margin-bottom: -37px;
}
       